<div>
    <p>NCA LambdaZ</p>
    <input type="checkbox" name="LambdaZBool1" [(ngModel)]="isBool1">LambdaZ Boolean 1<br/><br/>
    <input type="checkbox" name="LambdaZBool2" [(ngModel)]="isBool2">LambdaZ Boolean 2<br/><br/>
    <input type="text" name="LambdaZString" [(ngModel)] = "textValue" ><br/><br/>

    <!-- Nca LambdaZ-->
    <input type="button" name="PreviousNcaLambdaZ" value="Previous" (click)="prevNcaLambdaZ()">
    <input type="button" name="NextNcaLambdaZ" value="Next" (click)="nextNcaLambdaZ()">
</div>