<div>
    <p>NCA Options</p>
    <input type="checkbox" name="OptionsBool1" [(ngModel)]="isBool1">Options Boolean 1<br/><br/>
    <input type="checkbox" name="OptionsBool2" [(ngModel)]="isBool2">Options Boolean 2<br/><br/>
    <input type="text" name="OptionsString" [(ngModel)] = "textValue"><br/><br/>
    <!-- Nca Options-->
    <input type="button" name="PreviousNcaOptions" value="Previous" (click)="prevNcaOptions()">
    <input type="button" name="NextNcaOptions" value="Next" (click)="nextNcaOptions()">
</div>