<p>Combined Mappings</p><br/><br/>
<label id="plasmaBool1">Plasma Bool1: {{this.combinedModel.plasmaModel.plasmaBool1}}</label><br/>
<label id="plasmaBool2">Plasma Bool2: {{this.combinedModel.plasmaModel.plasmaBool2}}</label><br/>
<label id="plasmaString">Plasma String: {{this.combinedModel.plasmaModel.plasmaString}}</label><br/><br/>
<label id="urineBool1">Urine Bool1: {{this.combinedModel.urineModel.urineBool1}}</label><br/>
<label id="urineBool2">Urine Bool2: {{this.combinedModel.urineModel.urineBool2}}</label><br/>
<label id="urineString">Urine String: {{this.combinedModel.urineModel.urineString}}</label><br/><br/>
<label id="dosingBool1">Dosing Bool1: {{this.combinedModel.dosingModel.dosingBool1}}</label><br/>
<label id="dosingBool2">Dosing Bool2: {{this.combinedModel.dosingModel.dosingBool2}}</label><br/>
<label id="dosingString">Dosing String: {{this.combinedModel.dosingModel.dosingString}}</label><br/><br/>
<label id="cgeBool1">Cge Bool1: {{this.combinedModel.cgeModel.cgeBool1}}</label><br/>
<label id="cgeBool2">Cge Bool2: {{this.combinedModel.cgeModel.cgeBool2}}</label><br/>
<label id="cgeString">Cge String: {{this.combinedModel.cgeModel.cgeString}}</label><br/><br/>