<p>Dosing Mappings</p><br/><br/>
    <input type="checkbox" name="DosingBool1" [(ngModel)]="this.combinedModel.dosingModel.dosingBool1">Dosing Boolean 1<br/><br/>
    <input type="checkbox" name="DosingBool2" [(ngModel)]="this.combinedModel.dosingModel.dosingBool2">Dosing Boolean 2<br/><br/>
    <input type="text" name="DosingString" [(ngModel)] = "this.combinedModel.dosingModel.dosingString"><br/><br/>
    <input type="button" name="UpdateNcaCgeModel" value="Update CGE" (click)="UpdateNcaCgeModel()">