<p>Plasma Mappings</p><br/><br/>
    <input type="checkbox" name="PlasmaBool1" [(ngModel)]="this.combinedModel.plasmaModel.plasmaBool1">Plasma Boolean 1<br/><br/>
    <input type="checkbox" name="PlasmaBool2" [(ngModel)]="this.combinedModel.plasmaModel.plasmaBool2">Plasma Boolean 2<br/><br/>
    <input type="text" name="PlasmaString" [(ngModel)] = "this.combinedModel.plasmaModel.plasmaString"><br/><br/>
    <input type="button" name="UpdateNcaCgeModel" value="Update CGE" (click)="UpdateNcaCgeModel()">